<% provide(:title, 'About') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 one-col">
    <h1>About</h1>
    <p>Chirp app built with Ruby on Rails based on the Twitter Clone by...</p>
    <p>Author: <a href="https://twitter.com/toshimaru_e"> toshimaru</a></p>
    <p>Adjusted by: PSCTF-Team WWU</p>
  </div>
</div>
