<div class= "recipient">
  <%if current_user.name == User.find(@conversation.recipient_id).name %>
    <%= User.find(@conversation.sender_id).name%>
  <%else%>
    <%= User.find(@conversation.recipient_id).name%>
  <%end%>
</div>

<div class="chat-history">
 <% @messages.reverse_each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <div class="conversation-box">
    <div class="content">
      <div class="header">
        <strong><%= user.name %></strong>
        <%= message.message_time %>
      </div>
        <div class="list">
          <div class="conversation-box">
             <%= icon("angle-right") %>
            <%= message.body %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
<%= form_for [@conversation, @message], :authenticity_token => false, html: {class: "ui reply form"} do |f| %>
  <div class="field">
   <%= f.text_area :body, class: "form-control", type: "submit" %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <%= f.text_field :csrf_token, value: current_user.csrf_token, type: "hidden" %>
  <div>
   <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>
<% end %>

<%= link_to "Back", conversations_path(current_user) %>
<% if current_user.id == @conversation.recipient_id %>
  <% @conversation.update_column(:read, true)%>
<% end %>
