<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 one-col">
    <h1>Log in to Chirp</h1>

    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'control-label'%>
        <%= f.text_field :email, class: 'form-control', autofocus: true  %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'control-label' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="checkbox">
        <%= f.label :remember_me, class: 'control-label' do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>
      </div>
      <%= f.submit "Log in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up", signup_path %></p>
  </div>
</div>
