<div class="ui-segment">
<span style="font-weight:bold;">Inbox</span>
<%= icon("inbox")%>
  <div class="ui list">
   <div class="item">
      <% @conversations.each do |conversation| %>
      <% if (conversation.read == false) && (conversation.recipient_id == current_user.id) %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <%= link_to recipient.name, conversation_messages_path(conversation),:style => "color: orange;"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="ui-segment">
  <h4>Conversation</h4> 
  <div class="ui list">
   <div class="item">
    <% @conversations.each do |conversation| %>
    <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
     <% if conversation.sender_id == current_user.id %>
       <% recipient = User.find(conversation.recipient_id) %>
     <% else %>
       <% recipient = User.find(conversation.sender_id) %>
     <% end %>
     <%= link_to recipient.name, conversation_messages_path(conversation)%>
    <% end %>
   <% end %>
   </div>
  </div>
 </div>
  
 
  <div class="ui-segment">
  <h4>All Users</h4>
  <div class="ui list">
    <% @users.each do |user| %>
     <% if user.id != current_user.id %>
      <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post" do %>
        <div class="item">
          <%= gravatar_for user %>
          <%= user.name %>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
