<% provide(:title, 'Edit user') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 one-col">
    <h1>Update your profile</h1>
    <form>
      <div class="form-group">
      <%= gravatar_for @user, size: 100, css_class: nil %>
      </div>
    </form>
 
    <%= form_with model: @user, local: true do |form| %>
      <%= render 'shared/error_messages', object: form.object if form.object.errors.any? %>
      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>

      <div class="form-group">
        <%= form.label :name, class: 'control-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :email, class: 'control-label' %>
        <%= form.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :password, class: 'control-label' %>
        <%= form.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :password_confirmation, class: 'control-label' %>
        <%= form.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= form.submit "Save changes", class: "btn btn-large btn-primary" %>
        <%= link_to 'Delete my account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %>
      </div>
    <% end %>
  </div>
</div>
