<div class="row">
  <% if logged_in? %>
    <% provide(:title, 'Home') %>

    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' if logged_in? %>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="timeline">
        <h2 class="title">Chirps</h2>
        <% if @tweets.any? %>
        <ol class="tweets">
          <%= render @tweets %>
          <div class="paginate">
            <%=will_paginate(@tweets, :previous_label => "&laquo;Previous", :next_label => "Next &raquo;") %>
          </div>
        </ol>
        <% end %>
      </div>
    </div>
  <% else %>
    <% provide(:title, 'Welcome') %>

    <div class="col-md-6 col-md-offset-3 one-col">
      <h1>Welcome to <strong>Chirp</strong></h1>
      <%= image_tag("chirp_logo.png", size: 150) %>
      <p> See what’s happening in the world right now</p>
      <%= link_to 'Sign up', signup_path, class: "btn btn-primary" %>
      <%= link_to 'Log in', login_path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>
