
$color: #337ab7;

.ui-segment{
  margin: 1%;
  padding: 1%;
  overflow-y: auto;
  background-color: rgba(0, 132, 180, 0.1);
  border-radius: 25px;
  list-style-type: none;

  .ui.list{
    padding: 0 0 0 5%;
  }

  .item{
    display: flex;
  }
  a {
    display: inline-block;
    text-align: center;
    flex-direction: row;
    padding: 0 5% 0 5%;
    width: 45%;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .15rem;
    transition: all .3s;
  }
  a:hover{
    background-color: $color;
    color: white;
    text-decoration: none;
  }
  
  h4{
    font-weight: bold;
  }
  font-size: medium;
}

.chat-history{
  background-color:#f0f0f0;
  border-radius: 25px;
  height: 60vh;
  overflow-y: auto;
  margin: 1%;
  display: flex;
  padding: 3% 3% 0 3%;
  flex-direction: column-reverse;
}

.recipient{
  font-size: large;
  font-weight: bold;
  text-align: center;
}

