$current: #337ab7;

.pagination {
  display: inline-block;
  align-items: center;
  
  a, span, em{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  em.current {
    background-color: $current;
    color: white;
    border-radius: 5px;
  }
  a:hover, span:hover{
    background-color: #ddd;
    border-radius: 5px;
  }
}