<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <div class= "navbar-brand" >
          <strong> Chirp </strong>
        </div>
          <%= image_tag("chirp_logo.png", size: 45) %>
      <% end %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right header-menu">
        <% if logged_in? %>
          <li>
            <%= link_to users_path do %>
              <%= icon("users") %>
              <span>Users</span>
            <% end %>
          </li>
          <li>
            <%= link_to tweets_path do %>
              <%= icon("comment") %>
              <span>Chirps</span>
            <% end %>
           <li>
            <%= link_to conversations_path(current_user) do %>
              <%= icon("paper-plane") %>
              <span>Messages</span>
            <% end %>
          </li>
          </li>
          <li>
            <%= link_to current_user do %>
              <%= icon("user") %>
              <span>My Profile</span>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_path(current_user) do %>
              <%= icon("cog") %>
              <span>Setting</span>
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: "delete" do %>
              <%= icon("sign-out") %>
              <span>Log out</span>
            <% end %>
          </li>
        <% else %>
          <% unless params[:controller] == 'static_pages' %> 
            <li>
              <%= link_to login_path do %>
                <%= icon("users") %>
                <span>Users</span>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= icon("comment") %>
                <span>Chrips</span>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= icon("sign-in") %>
                <span>Sign in</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
