<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%#<%= debug(params) if Rails.env.development? %>
    </div>
    <!--
    <script>
      var hrefElems = document.querySelectorAll("[href^='/']");
      var srcElems = document.querySelectorAll("[src^='/']");
      hrefElems.forEach(function(elem) {
        elem.setAttribute('href', window.location.href.split('/').slice(0,4).join('/')+elem.getAttribute('href'))
      });
      srcElems.forEach(function(elem) {
        elem.setAttribute('src', window.location.href.split('/').slice(0,4).join('/')+elem.getAttribute('src'))
      });
    </script>
    -->
  </body>
</html>
